@import "../../styles/styles.scss";

.education {
  margin-top: 50px;

  &__form {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px 30px;

    & div {
      display: flex;
      flex-direction: column;
    }

    &-delete-btn {
      grid-column: 2/3;
    }
  }
}

@media (max-width: 768px) {
  .education {
    &__form {
      grid-gap: 1px 10px;
    }
  }
}
