@import "../../styles/styles.scss";

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: $main-bg;
  border: $main-border;
  padding: 30px;
  border-radius: 20px;

  &__image {
    height: 175px;
    width: 175px;
    border-radius: 100%;

    &-placeholder {
      background-color: $secondary-bg;
      border: 2px solid #6f00ff;
      border-radius: 100%;
      height: 175px;
      width: 175px;
    }

    &-description {
      & span {
        font-weight: 700;
      }
    }

    &-choice {
      padding: 10px 20px;
      background-color: $secondary-bg;
      border: $secondary-border;
    }

    &-choose-btn {
      color: #fff;
      font-weight: 800;
      padding: 10px 20px;
      background-color: $main-color;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

input[type="file"]::file-selector-button {
  color: #fff;
  font-weight: 800;
  padding: 10px 20px;
  background-color: $main-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
}

@media (hover: hover) {
  input[type="file"]::file-selector-button:hover {
    background-color: $main-hover-color;
  }
}

@media (hover: none) {
  input[type="file"]::file-selector-button:active {
    background-color: $main-hover-color;
  }
}

@media (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;

    &__image {
      &-placeholder {
        margin-bottom: 15px;
      }
    }
  }
}
