@import "../../styles/styles.scss";

.general-info {
  margin-top: 50px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__full-name {
    grid-gap: 40px;
  }

  &__contacts {
    grid-gap: 1px 30px;
  }
}

@media (max-width: 768px) {
  .general-info {
    &__full-name {
      grid-gap: 15px;
    }

    &__contacts {
      grid-gap: 1px 10px;
    }
  }
}

@media (max-width: 320px) {
  .general-info {
    &__full-name {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  }
}
