@import "./styles.scss";

.form-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  &__title {
    display: inline;

    &-number {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background-color: $main-color;
      color: #fff;
      font-size: 25px;
      font-weight: 800;
      margin-right: 15px;
      border-radius: 50%;
      position: relative;

      &::before {
        content: "";
        background-color: $main-color;
        height: 1px;
        position: absolute;
        right: 0;
        transform: translateX(100%);
        width: 8px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .form-description__title-number {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .form-description__header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .form-description__title-number {
    font-size: 18px;
  }
}
