@import "./styles.scss";

.general-info {
  margin-top: 50px;

  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__title {
    display: inline;

    &-number {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background-color: $main-color;
      color: #fff;
      font-size: 25px;
      font-weight: 800;
      margin-right: 15px;
      border-radius: 50%;
      position: relative;

      &::before {
        content: "";
        background-color: $main-color;
        height: 1px;
        position: absolute;
        right: 0;
        transform: translateX(100%);
        width: 8px;
      }
    }
  }

  &__form {
    margin-top: 20px;
    background-color: $main-bg;
    border: $main-border;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

    &-container {
      & div {
        display: flex;
        flex-direction: column;
      }

      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &-label {
      cursor: pointer;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 10px;
    }

    &-input {
      background-color: $secondary-bg;
      border: $secondary-border;
      padding: 10px;
      margin-bottom: 20px;
    }
  }

  &__full-name {
    grid-gap: 40px;
  }

  &__contacts {
    grid-gap: 0px 30px;
  }
}

@media (max-width: 1024px) {
  .general-info__title-number {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .general-info__header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .general-info__title-number {
    font-size: 18px;
  }
}
