.skills {
  margin-top: 50px;

  &__form {
    & div {
      display: flex;
      gap: 5px;
    }

    &-input {
      width: 100%;
    }

    &-delete-btn {
      margin-bottom: 20px;
      color: #fff;
      background-color: #bd0451;
      border: none;
      cursor: pointer;
      padding: 8px;
      border-radius: 6px;
      transition: background-color 0.2s ease-in-out;

      & svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media (hover: hover) {
  .skills__form-delete-btn:hover {
    background-color: #820338;
  }
}

@media (hover: none) {
  .skills__form-delete-btn:active {
    background-color: #820338;
  }
}
